name: Android CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: gradle/actions/wrapper-validation@v4
    - name: set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: app/build/outputs/apk/release/*.apk

    - name: Update git tag
      run: |
        git tag -f latest
        git push -f origin latest

    - name: Delete Release
      uses: cb80/delrel@latest
      with:
        tag: latest

    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: app/build/outputs/apk/release/*.apk
        generateReleaseNotes: false
        makeLatest: true
        tag: "latest"
